<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reset Password</title>
</head>
<style>
    body{
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 100vh;
        font-family: Lato, Roboto, Helvetica, serif, sans-serif ;
    }
    a{
        text-decoration: none;
        color: #685bb7;
    }
    a:hover{
        text-decoration: underline;
        color:  #483d8b;
    }
    .nav h1{
        padding: 0;
        margin: 15px 15px 0;
    }
    .nav{
        width: 100%;
        background: #483d8b;
        max-height: 10vh;
        display: inline-block;
        color: #fff;
        margin: auto;
    }
    .container{
        display: inline-block;
        margin: auto;
        text-align: center;
        align-content: center;
    }
    .box{
        border: solid 2px rgba(218, 210, 210, 0.5);
        padding: 2vh 2vw;
        margin-top: 20vh;
        border-radius: 3px;
        box-shadow: 1px 1px 1px rgba(128, 128, 128, 0.12);
        min-width: 35vw;
    }
    .box, .excerpt{
        margin-left: 30vw;
        margin-right: 30vw;
    }
    .btn{
        display: inline-block;
        align-self: center;
        border: solid 1px rgba(218, 210, 210, 0.5);
        border-radius: 3px;
        font-size: medium;
        padding: 8px 15px;
        margin-bottom: 1vh;
        min-width: 10vw;
    }
    .btn-primary{
        background: #483d8b;
        color: white;
    }
    .btn-primary:hover {
        background: #685bb7;
    }
    .text-uppercase{ text-transform: uppercase;}
    .text-lowercase{ text-transform: lowercase;}
    .text-capitalize{ text-transform: capitalize;}

</style>
<body>
<div class="nav">
    <h1 class="text-uppercase">church 52</h1>
</div>
<div class="container">
    <div class="box">
        <h1 class="text-uppercase">Forgot Password</h1>
        <p class="discussion">Hi <%username%>, you received this email because you requested a password reset. Click the button below to continue the process.</p>
        <a href="<%link%>" class="btn btn-primary"> Reset Password</a>
    </div>
    <div class="excerpt">
        <p class="info">If you can't view the above link <a href="<%link%>">Click here</a>.</p>
    </div>
</div>

</body>
</html>